# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Ruserdata

# RStudio and Project files
.Rproj.user/
.Rprofile
andv-hondius-2026.Rproj

# Quarto and RMarkdown internals (Crucial!)
/.quarto/
/_site/
*_cache/
/cache/
*.utf8.md
*.knit.md

# Package Management
/renv/library/
/renv/staging/
/renv/python/

# Build outputs
docs/
/*.tar.gz
/*.Rcheck/